@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

button {
  margin-left: 10px
}

.btn {
  color: black;
  border-radius: 10px;
  border-color: #222;
  font: bold;
  font-family: 'Ubuntu', sans-serif;
}

input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

body {
    font-family: sans-serif;
  }

  a {
    text-decoration: none;
  }

  .navbar {
    background: rgba(255, 255, 255, 0.4);
  }

  .navbar a {
    padding: 0px 10px;
    font-size: 20px;
    color: #2B93FA;
    font-family: 'Ubuntu', sans-serif;
    /* font-weight: 700; */
    text-decoration: none;
  }

  #nav-home {
    font-family: 'Audiowide', cursive;
    /* font-weight: bold; */
    font-size: 30px;
    color: black;
  }

  #footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center
  }

  #git-logo {
    height: 35px;
    width: auto;
    margin: 5px 0
  }

  .Home {
    position: relative;
  }

  .Home::after {
    content: "";
    background-color: white;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center
  }

  .logo-header {
    margin-right: 15px;
  }

  #trend-head {
    margin-bottom: 10px
  }

  .trend-scroll {
    overflow: auto;
    white-space: nowrap;
    width: 95%;
    align-items: center;
    margin: 10px auto;
    /* border: 15px #000; */
  }

  .trending-component {
    padding: 30px 0
  }
  .trending-text {
    text-align: center;
    flex-direction: column;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
  }

  .trendingThumbnail {
    padding: 20px 0px 0px 0px;
    height: 200px;
  }

  .mini-vid {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    padding: 14px;
    text-decoration: none;
    border: solid 2px black;
    margin: 15px 15px;
    width: 300px;
  }

  .mini-vid:hover {
    cursor: pointer;
  }

  .theater-form {
    padding: 20px;
    color: #000;
  }

  #input-header {
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Noto Sans', sans-serif;
  }

  .share-btns {
    display: flex;
    margin-bottom: 10px;
  }

  #video {
    display: flex;
    justify-content: space-around;
  }

  .vid-view {
    display: flex;
    flex-direction: column;
    background: url("./images/player-background.jpg");
    background-size: cover;
    padding: 20px 20px;
  }

  #text {
    width: 100%
  }

  #chat {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    margin-left: 20px;
    flex-grow: 2;
    overflow: auto;
    max-height: 425px;
  }

  .users-list {
    display: flex;
    color: white;
    flex-wrap: wrap;
    overflow-wrap: break-word
  }

  #user-list {
    background-color: white;
    border: solid rgb(70, 70, 70) 2px;
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 5px;
    margin: 0 10px 15px;
    flex-grow: 2;
    text-align: left;
    flex-wrap: wrap;
    overflow-wrap: break-word
  }

  #chat-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
  }

  #add-message {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-grow: 3
  }

  .color1 {

    float: left;
    text-align: left
  }

  .color2 {
    float: right;
    text-align: right
  }

  .message {
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 10px;
    color: white;
    width: 90%;
    border-radius: 10px;
    word-break:break-all;

  }

  #username {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 15px;
  }


  .vidChat {
    display: flex;
    flex-direction: column;
  }

  .OT_widget-container {
    border-radius: 10%;
    display: flex;
  }

  .streams {
    display: flex;
  }

  .OT_subscriber {
    float: left;
    margin-left: 1em;
  }

  .OT_publisher {
    float: left;
  }

  .mute-btn-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 10px 18px
  }

  .mute-btn, .unMute-btn {
    font-size: 12px;
    border-radius: 5px;
  }

  .mute-btn {
    background-color: red
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  /* LOGO */
  .logo-header {
    animation: App-logo-spin infinite 10s linear;
    height: 80px;
  }

  @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

  .logo-navbar {
    height: 40px;
  }

  .App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  .App {
    text-align: center;
    background: url("./images/home2.jpg");
    /* opacity: 0.4; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
  }





/* playing with CSS text  */
.playing {
    margin: 0;
  }
  .wrapper {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-play {
    margin: 0;
    font-size: 86/5px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .text-play .line {
    overflow: hidden;
    white-space: nowrap;
    height: 70px;
    line-height: 0.9;
  }
  .text-play .line:first-child + .line {
    margin-left: 75/5px;
  }
  .text-play .line:first-child + .line + .line {
    margin-left: 150/5px;
  }
  .text-play .line > .playing {
    margin: 0;
    height: 70px;
    overflow: hidden;
    font-size: 1em;
    line-height: 0.9;
    white-space: nowrap;
    animation: moveWords 6s infinite ease;
  }
  .text-play .line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
  }
  .text-play .line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }
  @keyframes moveWords {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  /* NEON SIGN FLASHING */

#open-sign {
  text-align:center;
  position:absolute;
  border:5px solid #1086e8;
  width:300px;
  top:150px;
  border-radius:20px;
  left:50%;
  margin: -50px 0 0 -150px;
  animation: border-flicker 2s linear infinite;
}

#open-text {
  color: #2B93FA;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Audiowide', cursive; */
  font-size:58px;
  letter-spacing:10px;
  margin: 0;
  animation: text-flicker 3s linear infinite;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }

  2% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px #0d6ab6;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px #0d6ab6
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6
  }

  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px #0d6ab6
  }

  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px #0d6ab6
  }

  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px #0d6ab6
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px #0d6ab6
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }

  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }


  19% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px #0d6ab6;
  }
}
