button {
  margin-left: 10px
}

input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

body {
    font-family: sans-serif;
  }

  a {
    text-decoration: none;
  }

  .navbar {
    padding: 12px 10px;
  }

  .navbar a {
    font-size: 25px;
    text-shadow: 1px 1px 1px rgb(73, 73, 73);
  }

  #footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center
  }

  #git-logo {
    height: 35px;
    width: auto;
    margin: 5px 0
  }

  .Home {
    position: relative;
  }

  .Home::after {
    content: "";
    background: url("./images/home2.jpg");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around
  }

  #trend-head {
    margin-bottom: 10px
  }

  .trend-scroll {
    overflow: auto;
    white-space: nowrap;
    width: 90%;
    align-items: center;
    margin: 10px auto;
  }

  .trending-component {
    padding: 30px 0
  }

  .mini-vid {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: solid 2px black;
    margin: 15px 15px;
  }

  .theater-form {
    padding: 20px;
    color: #918fd8;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  #input-header {
    font-size: 40px;
    font-weight: 700
  }

  .share-btns {
    display: flex;
    margin-bottom: 10px;
  }

  #video {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
  }

  .vid-view {
    display: flex;
    flex-direction: column;
    background: url("./images/player-background.jpg");
    background-size: cover;
    padding: 50px 20px;
  }

  #text {
    width: 100%
  }

  #chat {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    margin-left: 20px;
    flex-grow: 2;
    overflow: auto;
    max-height: 700px;
  }

  .users-list {
    display: flex;
    color: white;
    flex-wrap: wrap;
    overflow-wrap: break-word
  }

  #user-list {
    background-color: white;
    border: solid rgb(70, 70, 70) 2px;
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 5px;
    margin: 0 10px 15px;
    flex-grow: 2;
    text-align: left;
    flex-wrap: wrap;
    overflow-wrap: break-word
  }

  #chat-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
  }

  #add-message {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-grow: 3
  }

  .color1 {
    float: left;
    text-align: left
  }

  .color2 {
    float: right;
    text-align: right
  }

  .message {
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 10px;
    color: white;
    width: 90%;
    border-radius: 10px;
    word-break:break-all;

  }

  #username {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 15px;
  }

  .trendingThumbnail {
    height: 180px;
  }

  .vidChat {
    display: flex;
    flex-direction: column;
  }

  .OT_widget-container {
    border-radius: 10%;
    display: flex;
  }
  
  .streams {
    display: flex;
  }
  
  .OT_subscriber {
    float: left;
    margin-left: 1em;
  }
  
  .OT_publisher {
    float: left;
  }

  .mute-btn-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 10px 18px
  }

  .mute-btn, .unMute-btn {
    font-size: 12px;
    border-radius: 5px;
  }

  .mute-btn {
    background-color: red
  }
